body{
    margin: 0;
	font-family: 'Dosis', sans-serif;
    font-size: 1.75em;
    background-color: #f2f2f2;
	height: 100%;
}


/*--- HEADER STYLES ---*/
.header{
	background: linear-gradient(to bottom, #ccfff2, #cce6ff);
}


/* Header - Title */

.header-title{
	font-size: 1.8em;
	font-weight: bold;
    width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 20px;
}


/* Header - Menu */
nav{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header a:hover{
	font-weight: bold;
}

li{
    list-style: none;
    font-size: 38px;
	display: inline-block;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 35px;
	padding-right: 35px;
	color: black;
}

ul{
	margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-options {
    display: none;
    position: absolute;
	min-width: 140px;
    background-color: #f2f2f2;
}

.dropdown-options a {
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-options {
    display: block;
	z-index: 90;
}


/*--- CONTENT STYLES ---*/
.content{
	width: 70%;
	margin: 0 auto;
	text-align: left;
	background-color: #ffffff;
	padding: 20px 40px 5% 5%;
}

h1{
	font-size: 1.5em;
}

#option-button-row{
	width: 100%;
	text-align: center;
}

#option-button{
	width: 20%;
	display: inline-block;
	cursor: pointer;
	padding: 20px 0;
	margin: 0 auto;
}

#option-button:hover{
	background-color: #f2f2f2;
}


/*--- FOOTER STYLES ---*/
.footer{
	background-color: #333333;
	color: white;
	padding-left: 10%;
	padding-top: 5%;
	padding-bottom: 90px;
}

.footer a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}